# virtual environments
venv/
envs/

# Python bytecode files
__pycache__/
*.py[cod]

# Environments
.env

# Checkpoints
notebook/checkpoints/
src/checkpoints/

# Data
data/

# Wandb 
wandb/

# Vscode 
.vscode/

# nohub
nohup.out
output.log

QuantumGAN.egg-info