# virtual environments
venv/
envs/

# Python bytecode files
__pycache__/
*.py[cod]

# Environments
.env

# Checkpoints
notebook/checkpoints/
src/checkpoints/

# Ignore the data directory
data/

# Ignore wandb directory
wandb/